<%- include('./partials/head', {archivoCss: "crearEditarProductos"})%>
 
<%- include('./partials/header.ejs')%>

<hr>
<h1 class="encabezado"><strong>Productos</strong></h1>
<div class="container-products">
<% for (let i = 0; i < hogar.length; i++) {  %>
<div class= "lista-products">
        <img src="/img/products/<%=hogar[i].avatar%>" alt="Imagen de producto">
        <h1><strong><%=hogar[i].nombre%></strong></h1>
        <h2><%=hogar[i].marca%></h2>
        <h3 style="color: rgb(104, 104, 104);"><i>$<%=hogar[i].precio%></i></h3>
        <button>   Agregar al carrito   </button>
        
        
</div>
<%  }  %>
</div>
<%- include('./partials/footer.ejs')%>
