
    <!--<div class="respmenu">
        <input type="checkbox" class="hola">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Categoria 1</a></li>
            <li><a href="#">Categoria 2</a></li>
            <li><a href="#">Categoria 3</a></li>
            <li><a href="#">Categoria 4</a></li>
            <li><a href="#">Categoria 5</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
        <i class="fas fa-user-times"></i>
        <i class="fas fa-shopping-cart"></i>
    </div>//-->
    <%- include('./partials/head', {archivoCss: "index"})%>

    <%- include('./partials/header.ejs')%>

    <section class="home">
        <hr id="hr1">


        <!--------- Imagen -------->
        <div class="imagenespasando">
            <img src="/img/paisaje1.jpg" alt="1 compra 1 arbol">
        </div>    
        <!--------- Destacados -------->
        
        
        
        <hr style="margin-top: 15px; margin-bottom: 5px;">
        <!--------- Productos -------->
        <h2 class="destacados">PRODUCTOS DESTACADOS</h1>
        <div class="container-products">
            <% for (let i = 0; i < productos.length; i++) {  %>
            <div class= "lista-products">
                    <img class="imgIndex" src="/img/products/<%=productos[i].avatar%>" alt="Imagen de producto">
                    <h1><strong><%=productos[i].nombre%></strong></h1>
                    <h2><%=productos[i].marca%></h2>
                    <h3 style="color: rgb(104, 104, 104);"><i>$170</i></h3>
                    <h4 style="color: rgb(255, 54, 54); background-color: silver; text-align: center;"  ><i>25% OFF</i></h4>
                    <button>   Agregar al carrito   </button>
                    
                    
            </div>
            <%  }  %>
            </div>
        <hr>
        <!--------- Banners -------->
        <h2 class="destacados">Nos acompañan</h1>
        <div class="banners">
            <div class="banner1"><a href="https://www.casavegana.com.ar/"><img src="img/logo-251359434-1588094702-a41b5261bf3ea595d58ef1852e7a01821588094702.png" alt="Casa Vegana"></a></div>
            <div class="banner2"><a href="https://www.reforestarg.org.ar/"><img src="img/logoref.jpg" alt="reforestarg"></a></div>
            <div class="banner3"><a href="https://www.friendlyvegetarian.com.sg/"><img src="img/klipartz.com.png" alt="Vegan friendly"></a></div>
        </div>
        <hr>
        <!--------- Galeria y formulario -------->
        <!------<div class="galeriaformulario">
            <div class="galeriaig">GALERIA IG</div>
            <div class="formulario">FORMULARIO</div>
        </div>
        <hr>
        <!--------- Medio de pago -------->
        <!--<div class="mediosdepago">
            <img class="imagenmedios" src="../../public/img/mdepago.png" alt="Medios de pago">
        </div>-->

        <div class="mediosPago"> 
            <p class="texto">Medios de Pago</p> 
            <div class="rrss">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
                <i class="fas fa-money-bill"></i>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs')%>

    