<%- include('./partials/head', {archivoCss: "crearEditarProductos"})%>
 
<%- include('./partials/header.ejs')%>

<hr>
<h1 class="encabezado"><strong>Usuarios</strong></h1>
<div class="container-products">
<% for (let i = 0; i < usuarios.length; i++) {  %>
<div class= "lista-products">
        <img src="/img/users/<%=usuarios[i].avatar%>" alt="Imagen de usuario">
        <h1><strong><%=usuarios[i].nombre%> <%=usuarios[i].apellido%></strong></h1>
        <h2><%=usuarios[i].email%></h2>
        
        <button>   Editar   </button>
        
        
</div>
<%  }  %>
</div>
<%- include('./partials/footer.ejs')%>
