<%- include('./partials/head', {archivoCss: "crearEditarProductos"})%>
 
<%- include('./partials/header.ejs')%>

<hr>
<% for (let i = 0; i < productos.legnth; i++) {  %>
<div id= "crearEditar-box">
    <div class="crearEditar">
    <form action="/products/editar/<%=Producto.id%>" method="POST">
        <label for="">Producto</label>
        <input type="text" name="nombre" placeholder="<%=producto.nombre%>">
        <label for="">Marca</label>
        <input type="text" name="marca" placeholder="<%=producto.marca%>">
        <label for="">Cantidad</label>
        <input type="number" name="descripcion" placeholder="<%=producto.descripcion%>">
        <label for="">Categoria</label>
        <input type="number" name="Categoria" placeholder="<%=producto.categoria%>">
        <button type="submit">Editar</button>
    </form>

    </div>
</div>
<%  }  %>
<%- include('./partials/footer.ejs')%>
