<%- include('./partials/head', {archivoCss: "crearEditarProductos"})%>
 
<%- include('./partials/header.ejs')%>

<hr>
<h1 class="encabezado"><strong>Quesos</strong></h1>
<div class="container-products">
<% for (let i = 0; i < quesos.length; i++) {  %>
<div class= "lista-products">
        <a href="/products/verProducto/<%=quesos[i].id%>"><img src="/img/products/<%=quesos[i].avatar%>" alt="Imagen de producto"></a>
        <h1><strong><%=quesos[i].nombre%></strong></h1>
        <h2><%=quesos[i].marca%></h2>
        <h3 style="color: rgb(104, 104, 104);"><i>$<%=quesos[i].precio%></i></h3>
        <button>   Agregar al carrito   </button>
        
        
</div>
<%  }  %>
</div>
<%- include('./partials/footer.ejs')%>
